# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env*.local

# generated
public/og/

# system
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
