@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-blink {
    animation: blink 0.7s step-end infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

